.example-spacer {
  margin-left: auto;
}
.box {
  display: flex;
  flex-wrap: wrap;
  height: 6vh;
  align-content: space-between;
  justify-content: space-between;
}

.toolbarTop {
  display: flex;
}
.push {
  margin-left: auto;
}
