.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.container {
  min-height: 100%;
  width: 100%;
}
.start{
align-items: start;
max-height: 50%;
max-width: 50%;
}
.end{
align-items: end;

}