.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.container {
  min-height: 100%;
  min-width: 100%;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.box>*:first-child {
  align-content: start;
  word-wrap: break-word;
  padding-top: 2vh;
  max-width: 25vh;
  max-height: 4.9vh;
  overflow: auto;
}
.box .chosen {
  align-self: center;
}
