<div *ngIf="!isVisible(todo)">
  <div class="box">
    <div>{{ todo.name }}</div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="example-icon">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSelectTodo(todo, $event)">
          <mat-icon class="example-icon">edit</mat-icon>
          <span>Editar</span>
        </button>
        <button
          mat-menu-item
          (click)="removeTodo(todo); $event.stopPropagation()"
        >
          <mat-icon class="example-icon">delete</mat-icon>
          <span>Deletar</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>

<div *ngIf="isVisible(todo)">
  <div class="box">
    <div>
      <mat-form-field [formGroup]="form">
        <input
          type="text"
          formControlName="name"
          matInput
          placeholder="Edite aqui"
          value="{{ todo.name }}"
        />
      </mat-form-field>
    </div>
    <div class="chosen">
      <button mat-icon-button>
        <mat-icon class="example-icon" (click)="updateTodo(todo, form)"
          >check_circle
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="example-icon" (click)="cancelTodo(todo, form)"
          >cancel</mat-icon
        >
      </button>
    </div>
  </div>
</div>
