<!-- Toolbar -->
<app-todo-toolbar></app-todo-toolbar>

<!-- Filter and Table -->
<div class="example-header" *ngIf="(loaded$ | async)">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Digite o Todo"
    />
  </mat-form-field>
</div>
<mat-table
  #table
  [dataSource]="dataSource"
  *ngIf="(loaded$ | async); else spinner"
>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Lista de Todos </mat-header-cell>
    <mat-cell *matCellDef="let todo" [@rowsAnimation]>
      <app-todo-form
        [todo]="todo"
        (update)="edit($event)"
        (remove)="delete($event)"
      ></app-todo-form>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<ng-template #spinner>
  <app-todo-spinner></app-todo-spinner>
</ng-template>
