<mat-toolbar color="warn"
  >Todo List <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="Crie um Todo aqui">
    <mat-icon class="example-icon" (click)="openDialog()">add_circle</mat-icon>
  </button>
</mat-toolbar>
<div class="example-header">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Digite o Todo"
    />
  </mat-form-field>
</div>
<mat-table #table [dataSource]="dataSource" *ngIf="loaded$; else spinner">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Lista de Todos </mat-header-cell>
    <mat-cell *matCellDef="let todo" [@fadeInOut]>
      <app-todo-form
        [todo]="todo"
        (update)="edit($event)"
        (remove)="delete($event)"
      ></app-todo-form>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-card *ngIf="!(todos$ | async)?.length">
  Sem Todos, adicione um.
</mat-card>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
