<mat-toolbar color="warn"
  >Todo List <span class="example-spacer"></span>
  <!-- <input type="text" matInput placeholder="Crie aqui" #name /> -->
  <!-- <button mat-icon-button>
    <mat-icon class="example-icon" (click)="add(name.value); name.value = ''"
      >add_circle</mat-icon
    >
  </button> -->
  <button mat-icon-button>
    <mat-icon class="example-icon" (click)="openDialog()">add_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let todo of (todos$ | async)"
    ><div *ngIf="!isVisible(todo)">{{ todo.name }}</div>
    <div *ngIf="isVisible(todo)">
      <mat-form-field [formGroup]="form">
      <input
        type="text"
        formControlName="name"
        matInput
        placeholder="Edite aqui"
        value = "{{todo.name}}"
      />
    </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon
        class="example-icon"
        (click)="edit(todo, form)"
        >check_circle</mat-icon
      >
    </button></div>
    <span class="example-spacer"></span>

    <button mat-icon-button>
      <mat-icon class="example-icon" (click)="onSelectTodo(todo)"
        >edit</mat-icon
      >
    </button>
<!--     <button mat-icon-button>
      <mat-icon
        class="example-icon"
        (click)="edit(todo, editName.value); editName.value = ''"
        >cancel</mat-icon
      >
    </button> -->
    <button mat-icon-button>
      <mat-icon class="example-icon" (click)="delete(todo); $event.stopPropagation()">delete</mat-icon>
    </button></mat-list-item
  >
</mat-list>
